*
{	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'sans-serif;', sans-serif;
}
header
{
	width: 100%; height: 100vh;
	background-image:url("img/ocean.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
nav{
	width: 100%; height: 15vh;
	background: rgb(0,0,0,0.3);
	color: white;	display: flex; 	justify-content: space-between;
	align-items: center; text-transform: uppercase;
}
nav	.logo{
	width: 35%; text-align: center;
	font-size: 30px;
	color: #fff;
}
nav	.menu{
	width: 40%; 
	display: flex; justify-content: space-around;

	text-align: center;
}
nav	.menu a{
	width: 25%;
	text-decoration: none; color: white;
	font-weight: bold;
}

nav	.menu a:first-child{
	color: #00b894;
}
main{
	width: 100%;
	height: 85vh;
	display: flex; justify-content:center;
	align-items: center;
	text-align: center;
	color: white;

}
section{

}
section h3{
	font-size: 55px;
	font-weight: 200;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;
	font-weight: bold;
}
section h1{
	margin: 30px 0 20px 0;
	font-size: 40px;
	font-weight: 700;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase; 
}
section p{
	font-size: 20px;
	color: #eee;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 2px 1px black;
	
}
section p{
	font-size: 20px;
	color: #eee;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 2px 1px black;
}
section a{
	padding: 12px 30px;
	border-radius:4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px
	transition:	all .5s ease;
}
section	.btnone{
	background: #00b894;
	color: #fff;
}
	section .btntwo{
		background: #00b894;
	color: #fff;

	}
section .btnthree{
	background: #00b894;
	color: white;
	margin-bottom: 25px;
}


